.wrapper{
    margin: 20px;
}
.paper{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.evaluation{
    margin-top: 100px;
}
.card{
    cursor: pointer;
}
.grid{
    margin-top: 20px;
}